<div class="container">
    <div class="row" [class.hidden]="!otpBox">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <h1 class="text-center login-title">Sign  to Car-pool</h1>
            <div class="account-wall">
                <div class="text-center form-signin text-danger" >{{messageBox}}</div>
                <form class="form-signin" [formGroup]="SignupForm" [class.hidden]="authType==='Sign In'"
                novalidate (ngSubmit)="authorizeUser($event)">
                    <div  [ngClass]="{'has-error':(!SignupForm.controls.username.valid) && (SignupForm.controls.username.touched)}">
                        <input type="text" name="username"
                        class="form-control" formControlName="username" 
                        placeholder="UserName" required autofocus>
                     </div>
                     <div  [ngClass]="{'has-error':(!SignupForm.controls.email.valid) && (SignupForm.controls.email.touched)}">
                        
                        <input type="text" name="email" class="form-control" formControlName="email"
                        placeholder="Email" required autofocus>
                     </div>
                     <div  [ngClass]="{'has-error':(!SignupForm.controls.password.valid) && (SignupForm.controls.password.touched)}">
                        <input type="password" name="password" class="form-control" formControlName="password"
                        placeholder="Password" required>
                     </div>
                     <div [ngClass]="{'has-error':(!SignupForm.controls.confirm.valid) && (SignupForm.controls.confirm.touched)}">
                        <input 
                        type="password" class="form-control" name="confirm" formControlName="confirm"
                        placeholder="Confirm password" required autofocus>
                     </div>
                     <div [ngClass]="{'has-error':(!SignupForm.controls.mobile.valid) && (SignupForm.controls.mobile.touched)}">
                        <input  formControlName="mobile" name="mobile"
                        type="tel" class="form-control" placeholder="Mobile" required autofocus>
                     </div>
                    <button class="btn btn-lg btn-primary btn-block" 
                    [disabled]="!SignupForm.valid" type="submit">{{authType}}</button>
                    <label class="checkbox pull-left">
                        <input type="checkbox" value="remember-me">
                        Remember me
                    </label>
                    <a href="#" class="pull-right need-help">Need help? </a><span class="clearfix"></span>
                </form>
                 <form class="form-signin" [class.hidden]="authType==='Sign Up'" [formGroup]="LoginForm" 
                novalidate (ngSubmit)="authorizeUser($event)">
                   
                    <input type="text" name="email" class="form-control" formControlName="email"
                     placeholder="Email" required autofocus>
                    <input type="password" name="password" class="form-control" formControlName="password"
                    placeholder="Password" required>
                    
                    <button class="btn btn-lg btn-primary btn-block" 
                    [disabled]="!LoginForm.valid" type="submit">{{authType}}</button>
                    <label class="checkbox pull-left">
                        <input type="checkbox" value="remember-me">
                        Remember me
                    </label>
                    <a href="#" class="pull-right need-help">Need help? </a><span class="clearfix"></span>
                </form>
            </div>
            <a [class.hidden]="authType==='Sign Up'" (click)="authType='Sign Up';messageBox=''" class="text-center new-account">Create an account </a>
            <a [class.hidden]="authType==='Sign In'" (click)="authType='Sign In';messageBox=''" class="text-center new-account">Already have account </a>
            
        </div>
    </div>
    <div class="row" [class.hidden]="otpBox">
         <div class="col-sm-6 col-md-4 col-md-offset-4">
            <h1 class="text-center form-signin text-danger">{{messageBox}}</h1>
            <div class="account-wall">
                <input type="number" [formControl]="inputObserver" class="input-lg"/> 
                <button type="button" class="btn btn-lg btn-primary" [disabled]="!inputObserver.valid"
                 (click)="verifyOtp(inputObserver.value);messageBox=''" >Go</button>
            </div>
         </div>
    </div>
    
</div>