<div class="page-header header-filter" data-parallax="true" style="background-image: url('../assets/img/bg8.jpg');">
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1 class="title">Your Story Starts With Us.</h1>
            <h4>Every landing page needs a small description after the big bold title, that's why we added this text here. Add here all the information that can make you or your product create the first impression.</h4>
            <br />
            
        </div>
    </div>
</div>
</div>

<div class="main main-raised">
<div class="container">
    <p>sjsj</p>
</div>

</div>

    