<form class="form-horizontal" style="box-sizing:border-box;width:100%">
<fieldset style="box-sizing:border-box;width:100%">

<!-- Form Name -->
<legend>General</legend>

<!-- Text input -->
<div class="for-lg">
    <div class="form-group">
        <label class="col-sm-2 hidden-xs control-label" for="email">Email</label> 
        <label class="col-xs-1"></label>
        <div class="col-sm-8 col-xs-10"> 
        <input name="documentid" class="form-control input-md"
        id="documentid" type="text" placeholder="E-mail"> 
        </div>
        <label class="col-xs-1"></label>
    </div>

</div>
<div class="for-lg">
    <div class="form-group" >
        <label class="col-sm-2 hidden-xs control-label" for="email">Email</label> 
        <label class="col-xs-1"></label>
        <div class="col-sm-8 col-xs-10"> 
        <input name="documentid" class="form-control input-md"
        id="documentid" type="text" placeholder="E-mail"> 
        </div>
        <label class="col-xs-1"></label>
    </div>

</div>
</fieldset>
</form>

